body{

margin:0;

font-family:Arial;

background:#0f172a;

color:white;

}


.container{

display:flex;

height:100vh;

}


.sidebar{

width:250px;

background:#020617;

padding:20px;

}


.sidebar h2{

margin-bottom:30px;

}


.sidebar a{

display:block;

color:white;

text-decoration:none;

margin-bottom:15px;

}


.content{

flex:1;

padding:40px;

}


