body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 40px;
}

button {
  margin: 10px;
  padding: 15px;
  border: none;
  border-radius: 6px;
  background: #22c55e;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

#conteudo {
  margin-top: 30px;
  padding: 20px;
  background: #1e293b;
  border-radius: 10px;
}

#conteudo p {
  font-size: 18px;
}
#conteudo img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
} 

